In [152]:
# Dependencies and Setup

import pandas as pd
import numpy as np

In [153]:
# Importing data files

census_df = pd.read_csv("Resources/census_us_county_output.csv")
education_df = pd.read_csv("Resources/ers_usda_education.csv")

In [154]:
census_df

,County,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,51,"Fayette County, Illinois",21565.0,41.9,46650.0,23194.0,3421.0,15.863668,2.434500
1,107,"Logan County, Illinois",29003.0,40.1,57308.0,27546.0,2323.0,8.009516,2.544564
2,165,"Saline County, Illinois",23994.0,42.2,44090.0,25342.0,4936.0,20.571810,3.400850
3,97,"Lake County, Illinois",701473.0,38.4,89427.0,45766.0,54273.0,7.737005,2.759479
4,127,"Massac County, Illinois",14219.0,43.5,47481.0,23539.0,2331.0,16.393558,1.821506
...,...,...,...,...,...,...,...,...,...
3215,33,"Crockett County, Tennessee",14399.0,40.7,44717.0,23771.0,2524.0,17.528995,2.187652
3216,95,"Lake County, Tennessee",7401.0,41.5,35191.0,15732.0,1315.0,17.767869,2.351034
3217,93,"Knox County, Tennessee",461104.0,37.4,57470.0,33229.0,65448.0,14.193761,2.240492
3218,5,"Benton County, Washington",197518.0,35.8,69023.0,32882.0,23336.0,11.814619,2.305106
3219,11,"Clark County, Washington",473252.0,38.4,75253.0,35860.0,43384.0,9.167209,2.430840

In [155]:
# Reseting index
census_df = census_df.reset_index(drop=True)

In [156]:
# Remove column name 'A'
census_df = census_df.drop(['County'], axis = 1)
census_df

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,"Fayette County, Illinois",21565.0,41.9,46650.0,23194.0,3421.0,15.863668,2.434500
1,"Logan County, Illinois",29003.0,40.1,57308.0,27546.0,2323.0,8.009516,2.544564
2,"Saline County, Illinois",23994.0,42.2,44090.0,25342.0,4936.0,20.571810,3.400850
3,"Lake County, Illinois",701473.0,38.4,89427.0,45766.0,54273.0,7.737005,2.759479
4,"Massac County, Illinois",14219.0,43.5,47481.0,23539.0,2331.0,16.393558,1.821506
...,...,...,...,...,...,...,...,...
3215,"Crockett County, Tennessee",14399.0,40.7,44717.0,23771.0,2524.0,17.528995,2.187652
3216,"Lake County, Tennessee",7401.0,41.5,35191.0,15732.0,1315.0,17.767869,2.351034
3217,"Knox County, Tennessee",461104.0,37.4,57470.0,33229.0,65448.0,14.193761,2.240492
3218,"Benton County, Washington",197518.0,35.8,69023.0,32882.0,23336.0,11.814619,2.305106
3219,"Clark County, Washington",473252.0,38.4,75253.0,35860.0,43384.0,9.167209,2.430840

In [157]:
census_df[['County','State']] = census_df.Name.str.split(",",expand=True,)
census_df

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,County,State
0,"Fayette County, Illinois",21565.0,41.9,46650.0,23194.0,3421.0,15.863668,2.434500,Fayette County,Illinois
1,"Logan County, Illinois",29003.0,40.1,57308.0,27546.0,2323.0,8.009516,2.544564,Logan County,Illinois
2,"Saline County, Illinois",23994.0,42.2,44090.0,25342.0,4936.0,20.571810,3.400850,Saline County,Illinois
3,"Lake County, Illinois",701473.0,38.4,89427.0,45766.0,54273.0,7.737005,2.759479,Lake County,Illinois
4,"Massac County, Illinois",14219.0,43.5,47481.0,23539.0,2331.0,16.393558,1.821506,Massac County,Illinois
...,...,...,...,...,...,...,...,...,...,...
3215,"Crockett County, Tennessee",14399.0,40.7,44717.0,23771.0,2524.0,17.528995,2.187652,Crockett County,Tennessee
3216,"Lake County, Tennessee",7401.0,41.5,35191.0,15732.0,1315.0,17.767869,2.351034,Lake County,Tennessee
3217,"Knox County, Tennessee",461104.0,37.4,57470.0,33229.0,65448.0,14.193761,2.240492,Knox County,Tennessee
3218,"Benton County, Washington",197518.0,35.8,69023.0,32882.0,23336.0,11.814619,2.305106,Benton County,Washington
3219,"Clark County, Washington",473252.0,38.4,75253.0,35860.0,43384.0,9.167209,2.430840,Clark County,Washington

In [158]:
census_df = census_df.drop_duplicates()
census_df

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,County,State
0,"Fayette County, Illinois",21565.0,41.9,46650.0,23194.0,3421.0,15.863668,2.434500,Fayette County,Illinois
1,"Logan County, Illinois",29003.0,40.1,57308.0,27546.0,2323.0,8.009516,2.544564,Logan County,Illinois
2,"Saline County, Illinois",23994.0,42.2,44090.0,25342.0,4936.0,20.571810,3.400850,Saline County,Illinois
3,"Lake County, Illinois",701473.0,38.4,89427.0,45766.0,54273.0,7.737005,2.759479,Lake County,Illinois
4,"Massac County, Illinois",14219.0,43.5,47481.0,23539.0,2331.0,16.393558,1.821506,Massac County,Illinois
...,...,...,...,...,...,...,...,...,...,...
3215,"Crockett County, Tennessee",14399.0,40.7,44717.0,23771.0,2524.0,17.528995,2.187652,Crockett County,Tennessee
3216,"Lake County, Tennessee",7401.0,41.5,35191.0,15732.0,1315.0,17.767869,2.351034,Lake County,Tennessee
3217,"Knox County, Tennessee",461104.0,37.4,57470.0,33229.0,65448.0,14.193761,2.240492,Knox County,Tennessee
3218,"Benton County, Washington",197518.0,35.8,69023.0,32882.0,23336.0,11.814619,2.305106,Benton County,Washington
3219,"Clark County, Washington",473252.0,38.4,75253.0,35860.0,43384.0,9.167209,2.430840,Clark County,Washington

In [159]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_df.to_csv("Resources/cleaned_census_data.csv", encoding="utf-8", index=False)

In [160]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3220 entries, 0 to 3219
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               3220 non-null   object
 1   Population         3220 non-null   float64
 2   Median Age         3220 non-null   float64
 3   Household Income   3220 non-null   float64
 4   Per Capita Income  3220 non-null   float64
 5   Poverty Count      3220 non-null   float64
 6   Poverty Rate       3220 non-null   float64
 7   Unemployment Rate  3220 non-null   float64
 8   County             3220 non-null   object
 9   State              3220 non-null   object
dtypes: float64(7), object(3)
memory usage: 276.7+ KB

In [161]:
education_df

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,"1,062,306","468,269","136,287",...,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [162]:
# Reseting index
education_df = education_df.reset_index(drop=True)

In [163]:
education_df = education_df.iloc[2:]
education_df

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
5,1007,AL,Bibb County,1.0,1.0,1.0,1.0,"5,272","1,402",238,...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
6,1009,AL,Blount County,1.0,1.0,1.0,1.0,"10,677","3,440",626,...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [164]:
# to see null rows
# education_df.info()

In [165]:
# Reset index
education_df = education_df.reset_index(drop=True)

In [166]:
education_df

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
1,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
2,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
3,1007,AL,Bibb County,1.0,1.0,1.0,1.0,"5,272","1,402",238,...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
4,1009,AL,Blount County,1.0,1.0,1.0,1.0,"10,677","3,440",626,...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3277,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3278,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3279,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3280,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [167]:
# Rename column
# df=df.rename(columns = {'two':'new_name'})


education_df = education_df.rename(columns = {'Area name':'County'})
education_df

,FIPS Code,State,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
1,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
2,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
3,1007,AL,Bibb County,1.0,1.0,1.0,1.0,"5,272","1,402",238,...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
4,1009,AL,Blount County,1.0,1.0,1.0,1.0,"10,677","3,440",626,...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3277,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3278,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3279,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3280,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [168]:
# Remove all columns between column index 3 to 31

education_df = education_df.drop(education_df.iloc[:, 3:31], axis = 1)
education_df

,FIPS Code,State,County,"Less than a high school diploma, 2000","High school diploma only, 2000","Some college or associate's degree, 2000","Bachelor's degree or higher, 2000","Percent of adults with less than a high school diploma, 2000","Percent of adults with a high school diploma only, 2000","Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1001,AL,Autauga County,"5,872","9,332","7,413","4,972",21.3,33.8,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
1,1003,AL,Baldwin County,"17,258","28,428","28,178","22,146",18.0,29.6,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
2,1005,AL,Barbour County,"6,679","6,124","4,025","2,068",35.3,32.4,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
3,1007,AL,Bibb County,"4,984","4,838","2,756",962,36.8,35.7,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
4,1009,AL,Blount County,"9,960","12,136","8,371","3,235",29.6,36.0,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276,72145,PR,Vega Baja Municipio,"15,973","7,528","7,811","5,263",43.7,20.6,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3277,72147,PR,Vieques Municipio,"2,767","1,477",764,564,49.7,26.5,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3278,72149,PR,Villalba Municipio,"6,501","3,681","2,648","1,885",44.2,25.0,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3279,72151,PR,Yabucoa Municipio,"10,478","5,345","4,161","2,763",46.1,23.5,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3280,72153,PR,Yauco Municipio,"12,068","6,057","4,861","4,312",44.2,22.2,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [169]:
# education_df.rename(columns = {'test':'TEST', 'odi':'ODI',
#                               't20':'T20'}, inplace = True)

# column_names = list(df.columns)
# column_names[4:8] = ['five', 'six', 'seven', 'eight']
# df.columns = column_names

column_names = list(education_df.columns)
column_names[3:19] = ['Below_HS_Diploma_2000', 'HS_Diploma_2000', 'College_or_Associate_2000', 'Bachelor_or_Higher_2000',
                    'Percent_Below_HS_Diploma_2000', 'Percent_HS_Diploma_2000', 'Percent_College_or_Associate_2000', 'Percent_Bachelor_or_Higher_2000',
                    'Below_HS_Diploma_2019', 'HS_Diploma_2019', 'College_or_Associate_2019', 'Bachelor_or_Higher_2019',
                    'Percent_Below_HS_Diploma_2019', 'Percent_HS_Diploma_2019', 'Percent_College_or_Associate_2019', 'Percent_Bachelor_or_Higher_2019',]
education_df.columns = column_names

In [170]:
education_df

,FIPS Code,State,County,Below_HS_Diploma_2000,HS_Diploma_2000,College_or_Associate_2000,Bachelor_or_Higher_2000,Percent_Below_HS_Diploma_2000,Percent_HS_Diploma_2000,Percent_College_or_Associate_2000,Percent_Bachelor_or_Higher_2000,Below_HS_Diploma_2019,HS_Diploma_2019,College_or_Associate_2019,Bachelor_or_Higher_2019,Percent_Below_HS_Diploma_2019,Percent_HS_Diploma_2019,Percent_College_or_Associate_2019,Percent_Bachelor_or_Higher_2019
0,1001,AL,Autauga County,"5,872","9,332","7,413","4,972",21.3,33.8,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
1,1003,AL,Baldwin County,"17,258","28,428","28,178","22,146",18.0,29.6,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
2,1005,AL,Barbour County,"6,679","6,124","4,025","2,068",35.3,32.4,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
3,1007,AL,Bibb County,"4,984","4,838","2,756",962,36.8,35.7,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
4,1009,AL,Blount County,"9,960","12,136","8,371","3,235",29.6,36.0,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276,72145,PR,Vega Baja Municipio,"15,973","7,528","7,811","5,263",43.7,20.6,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3277,72147,PR,Vieques Municipio,"2,767","1,477",764,564,49.7,26.5,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3278,72149,PR,Villalba Municipio,"6,501","3,681","2,648","1,885",44.2,25.0,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3279,72151,PR,Yabucoa Municipio,"10,478","5,345","4,161","2,763",46.1,23.5,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3280,72153,PR,Yauco Municipio,"12,068","6,057","4,861","4,312",44.2,22.2,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [171]:
education_df = education_df.drop_duplicates()
education_df

,FIPS Code,State,County,Below_HS_Diploma_2000,HS_Diploma_2000,College_or_Associate_2000,Bachelor_or_Higher_2000,Percent_Below_HS_Diploma_2000,Percent_HS_Diploma_2000,Percent_College_or_Associate_2000,Percent_Bachelor_or_Higher_2000,Below_HS_Diploma_2019,HS_Diploma_2019,College_or_Associate_2019,Bachelor_or_Higher_2019,Percent_Below_HS_Diploma_2019,Percent_HS_Diploma_2019,Percent_College_or_Associate_2019,Percent_Bachelor_or_Higher_2019
0,1001,AL,Autauga County,"5,872","9,332","7,413","4,972",21.3,33.8,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
1,1003,AL,Baldwin County,"17,258","28,428","28,178","22,146",18.0,29.6,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
2,1005,AL,Barbour County,"6,679","6,124","4,025","2,068",35.3,32.4,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
3,1007,AL,Bibb County,"4,984","4,838","2,756",962,36.8,35.7,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
4,1009,AL,Blount County,"9,960","12,136","8,371","3,235",29.6,36.0,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276,72145,PR,Vega Baja Municipio,"15,973","7,528","7,811","5,263",43.7,20.6,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3277,72147,PR,Vieques Municipio,"2,767","1,477",764,564,49.7,26.5,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3278,72149,PR,Villalba Municipio,"6,501","3,681","2,648","1,885",44.2,25.0,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3279,72151,PR,Yabucoa Municipio,"10,478","5,345","4,161","2,763",46.1,23.5,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3280,72153,PR,Yauco Municipio,"12,068","6,057","4,861","4,312",44.2,22.2,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [172]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
education_df.to_csv("Resources/cleaned_education_data.csv", encoding="utf-8", index=False)

In [173]:
education_df.columns

Index(['FIPS Code', 'State', 'County', 'Below_HS_Diploma_2000',
       'HS_Diploma_2000', 'College_or_Associate_2000',
       'Bachelor_or_Higher_2000', 'Percent_Below_HS_Diploma_2000',
       'Percent_HS_Diploma_2000', 'Percent_College_or_Associate_2000',
       'Percent_Bachelor_or_Higher_2000', 'Below_HS_Diploma_2019',
       'HS_Diploma_2019', 'College_or_Associate_2019',
       'Bachelor_or_Higher_2019', 'Percent_Below_HS_Diploma_2019',
       'Percent_HS_Diploma_2019', 'Percent_College_or_Associate_2019',
       'Percent_Bachelor_or_Higher_2019'],
      dtype='object')

In [175]:
# fips_code_df = education_df.filter(['FIPS Code','State','County'], axis=1)
# fips_code_df.reset_index()

fips_code_df = education_df[['FIPS Code', 'State', 'County']].copy()
fips_code_df

      FIPS Code State               County
0          1001    AL       Autauga County
1          1003    AL       Baldwin County
2          1005    AL       Barbour County
3          1007    AL          Bibb County
4          1009    AL        Blount County
...         ...   ...                  ...
3276      72145    PR  Vega Baja Municipio
3277      72147    PR    Vieques Municipio
3278      72149    PR   Villalba Municipio
3279      72151    PR    Yabucoa Municipio
3280      72153    PR      Yauco Municipio

[3281 rows x 3 columns]

In [176]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
fips_code_df.to_csv("Resources/cleaned_fips_code_data.csv", encoding="utf-8", index=False)

In [177]:
merge_df = pd.merge(census_df, education_df, on=['State', 'County'], how='inner')

In [178]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
merge_df.to_csv("Resources/cleaned_merge_data.csv", encoding="utf-8", index=False)