In [10]:
# Importing dependencies

import pandas as pd
from sqlalchemy import create_engine


# Path to postgres education_database
database_path = 'postgresql://{db_username}:{db_password}@localhost:5432/education_db'

In [11]:
# Create an engine that can talk to the database
engine = create_engine('postgresql://postgres:Learning123*@localhost:5432/education_db')
conn = engine.connect()

In [12]:
conn.execute('SELECT * FROM education_data')

In [13]:
engine

Engine(postgresql://postgres:***@localhost:5432/education_db)

In [14]:
education_df = pd.read_sql('SELECT * FROM education_data', conn)
education_df

,fips_code,below_hs_diploma_2000,hs_diploma_2000,college_or_associate_2000,bachelors_or_higher_2000,percent_below_hs_diploma_2000,percent_hs_diploma_2000,percent_college_or_associate_2000,percent_bachelors_or_higher_2000,below_hs_diploma_2019,hs_diploma_2019,college_or_associate_2019,bachelors_or_higher_2019,percent_below_hs_diploma_2019,percent_hs_diploma_2019,percent_college_or_associate_2019,percent_bachelors_or_higher_2019
0,1001,5872,9332,7413,4972,21.3,33.8,26.9,18.0,4291,12551,10596,9929,11.5,33.6,28.4,26.6
1,1003,17258,28428,28178,22146,18.0,29.6,29.3,23.1,13893,41797,47274,48148,9.2,27.7,31.3,31.9
2,1005,6679,6124,4025,2068,35.3,32.4,21.3,10.9,4812,6396,4676,2080,26.8,35.6,26.0,11.6
3,1007,4984,4838,2756,962,36.8,35.7,20.4,7.1,3386,7256,3848,1678,20.9,44.9,23.8,10.4
4,1009,9960,12136,8371,3235,29.6,36.0,24.8,9.6,7763,13299,13519,5210,19.5,33.4,34.0,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3002,56037,2911,7994,8220,3928,12.6,34.7,35.7,17.0,2017,9239,10415,6291,7.2,33.0,37.2,22.5
3003,56039,679,2428,3853,5878,5.3,18.9,30.0,45.8,834,2577,4037,9875,4.8,14.9,23.3,57.0
3004,56041,1744,4069,3918,1712,15.2,35.6,34.2,15.0,941,5383,4562,2078,7.3,41.5,35.2,16.0
3005,56043,785,1844,1809,1022,14.4,33.8,33.1,18.7,568,1650,2031,1297,10.2,29.8,36.6,23.4
3006,56045,674,1831,1389,660,14.8,40.2,30.5,14.5,323,1904,1844,1016,6.3,37.4,36.2,20.0

In [6]:
# Query All Records in the the Database
# data = engine.execute('SELECT * FROM "Education_Data"', conn)

# for record in data:
#     print(record)

In [7]:
census_df = pd.read_sql('SELECT * FROM census_data', conn)
census_df

,fips_code,population,median_age,household_income,per_capita_income,poverty_count,poverty_rate,unemployment_rate
0,1001,55380.0,38.2,58731.0,29819.0,8340.0,15.059588,1.690141
1,1003,212830.0,43.0,58320.0,32626.0,21704.0,10.197810,1.985622
2,1005,25361.0,40.4,32525.0,18473.0,6875.0,27.108553,3.347660
3,1007,22493.0,40.9,47542.0,20778.0,3740.0,16.627395,2.929800
4,1009,57681.0,40.7,49358.0,24747.0,7739.0,13.416896,1.322793
...,...,...,...,...,...,...,...,...
3001,56037,43521.0,35.3,74843.0,32603.0,4921.0,11.307185,3.203051
3002,56039,23280.0,39.3,84678.0,54051.0,1426.0,6.125430,0.674399
3003,56041,20479.0,35.8,63403.0,28159.0,2298.0,11.221251,3.042141
3004,56043,8027.0,42.9,54158.0,28101.0,825.0,10.277812,1.918525
3005,56045,7049.0,43.1,57031.0,28531.0,971.0,13.775004,1.971911

In [8]:
fips_df = pd.read_sql('SELECT * FROM fips_code_data', conn)
fips_df

      fips_code       county state_abbr    state
0          1001     Autauga          AL  Alabama
1          1003     Baldwin          AL  Alabama
2          1005     Barbour          AL  Alabama
3          1007        Bibb          AL  Alabama
4          1009      Blount          AL  Alabama
...         ...          ...        ...      ...
3002      56037  Sweetwater          WY  Wyoming
3003      56039       Teton          WY  Wyoming
3004      56041       Uinta          WY  Wyoming
3005      56043    Washakie          WY  Wyoming
3006      56045      Weston          WY  Wyoming

[3007 rows x 4 columns]