In [1]:
# Importing dependencies

import pandas as pd
from sqlalchemy import create_engine
from config import db_username, db_password

# Path to postgres education_database
database_path = f"postgresql://{db_username}:{db_password}@localhost:5432/education_db"
database_path

'postgresql://postgres:Learning123*@localhost:5432/education_db'

In [2]:
# Create an engine that can talk to the database
engine = create_engine(database_path)
conn = engine.connect()

In [3]:
conn.execute('SELECT * FROM education_data')

In [4]:
engine

Engine(postgresql://postgres:***@localhost:5432/education_db)

In [5]:
education_df = pd.read_sql('SELECT * FROM education_data', conn)
education_df.head()

,fips_code,below_hs_diploma_2000,hs_diploma_2000,college_or_associate_2000,bachelors_or_higher_2000,percent_below_hs_diploma_2000,percent_hs_diploma_2000,percent_college_or_associate_2000,percent_bachelors_or_higher_2000,below_hs_diploma_2019,hs_diploma_2019,college_or_associate_2019,bachelors_or_higher_2019,percent_below_hs_diploma_2019,percent_hs_diploma_2019,percent_college_or_associate_2019,percent_bachelors_or_higher_2019
0,1001,5872,9332,7413,4972,21.3,33.8,26.9,18.0,4291,12551,10596,9929,11.5,33.6,28.4,26.6
1,1003,17258,28428,28178,22146,18.0,29.6,29.3,23.1,13893,41797,47274,48148,9.2,27.7,31.3,31.9
2,1005,6679,6124,4025,2068,35.3,32.4,21.3,10.9,4812,6396,4676,2080,26.8,35.6,26.0,11.6
3,1007,4984,4838,2756,962,36.8,35.7,20.4,7.1,3386,7256,3848,1678,20.9,44.9,23.8,10.4
4,1009,9960,12136,8371,3235,29.6,36.0,24.8,9.6,7763,13299,13519,5210,19.5,33.4,34.0,13.1

In [6]:
census_df = pd.read_sql('SELECT * FROM census_data', conn)
census_df.head()

,fips_code,population,median_age,household_income,per_capita_income,poverty_count,poverty_rate,unemployment_rate
0,1001,55380.0,38.2,58731.0,29819.0,8340.0,15.059588,1.690141
1,1003,212830.0,43.0,58320.0,32626.0,21704.0,10.197810,1.985622
2,1005,25361.0,40.4,32525.0,18473.0,6875.0,27.108553,3.347660
3,1007,22493.0,40.9,47542.0,20778.0,3740.0,16.627395,2.929800
4,1009,57681.0,40.7,49358.0,24747.0,7739.0,13.416896,1.322793

In [7]:
fips_df = pd.read_sql('SELECT * FROM fips_code_data', conn)
fips_df.head()

   fips_code    county state_abbr    state
0       1001  Autauga          AL  Alabama
1       1003  Baldwin          AL  Alabama
2       1005  Barbour          AL  Alabama
3       1007     Bibb          AL  Alabama
4       1009   Blount          AL  Alabama

In [8]:
view_df =  pd.read_sql('SELECT * from census_education', conn)
view_df.head()

,fips_code,population,median_age,household_income,per_capita_income,poverty_count,poverty_rate,unemployment_rate,below_hs_diploma_2019,hs_diploma_2019,college_or_associate_2019,bachelors_or_higher_2019,percent_below_hs_diploma_2019,percent_hs_diploma_2019,percent_college_or_associate_2019,percent_bachelors_or_higher_2019
0,1001,55380.0,38.2,58731.0,29819.0,8340.0,15.059588,1.690141,4291,12551,10596,9929,11.5,33.6,28.4,26.6
1,1003,212830.0,43.0,58320.0,32626.0,21704.0,10.197810,1.985622,13893,41797,47274,48148,9.2,27.7,31.3,31.9
2,1005,25361.0,40.4,32525.0,18473.0,6875.0,27.108553,3.347660,4812,6396,4676,2080,26.8,35.6,26.0,11.6
3,1007,22493.0,40.9,47542.0,20778.0,3740.0,16.627395,2.929800,3386,7256,3848,1678,20.9,44.9,23.8,10.4
4,1009,57681.0,40.7,49358.0,24747.0,7739.0,13.416896,1.322793,7763,13299,13519,5210,19.5,33.4,34.0,13.1

In [9]:
# query from view 'county_state' and fips_code_data to analyze different factors verses education on state and county level

df1 = pd.read_sql("""SELECT f.state, ROUND(AVG(v.per_capita_income),2) AS avg_per_capita_income, ROUND(AVG(v.median_age),2) AS avg_median_age, 
ROUND(AVG(v.population),2) AS avg_population, ROUND(AVG(v.poverty_count),2) AS avg_poverty_count, 
ROUND(AVG(v.unemployment_rate),2) AS avg_unemployment_rate, 
ROUND(AVG(v.bachelors_or_higher_2019),2) AS avg_bachelors_or_higher_2019
FROM fips_code_data AS f
JOIN census_education AS v
ON (f.fips_code = v.fips_code)
GROUP BY f.state
ORDER BY f.state;""",conn)

df1.head()

,state,avg_per_capita_income,avg_median_age,avg_population,avg_poverty_count,avg_unemployment_rate,avg_bachelors_or_higher_2019
0,Alabama,24049.15,40.80,72779.85,11880.43,2.84,12623.46
1,Arizona,24500.27,40.63,470019.93,69584.27,3.11,92968.40
2,Arkansas,23285.04,41.61,39991.60,6616.80,2.51,6176.48
3,California,33798.62,39.89,677301.67,88788.66,3.02,154840.10
4,Colorado,31972.55,42.47,87661.70,8841.77,2.26,24455.22

In [93]:
state_list = df1.state.to_list()
state_list

['California',
 'Oregon',
 'Alabama',
 'South Dakota',
 'Oregon',
 'Oklahoma',
 'Alabama',
 'Missouri',
 'Utah',
 'Mississippi',
 'Kansas',
 'West Virginia',
 'New Mexico',
 'Alabama',
 'Florida',
 'Pennsylvania',
 'Maryland',
 'Maryland',
 'Georgia',
 'Missouri',
 'Iowa',
 'Arkansas',
 'North Carolina',
 'California',
 'Colorado',
 'Texas',
 'Arizona',
 'Ohio',
 'Kentucky',
 'North Carolina',
 'Massachusetts',
 'Illinois',
 'West Virginia',
 'Minnesota',
 'North Carolina',
 'Oklahoma',
 'Indiana',
 'Colorado',
 'Kansas',
 'Virginia',
 'Kentucky',
 'West Virginia',
 'Arkansas',
 'Texas',
 'Alabama',
 'South Dakota',
 'Minnesota',
 'California',
 'Georgia',
 'Maine',
 'Virginia',
 'North Carolina',
 'Mississippi',
 'Texas',
 'Mississippi',
 'Idaho',
 'Washington',
 'Oregon',
 'Tennessee',
 'Colorado',
 'Texas',
 'Kansas',
 'Minnesota',
 'Vermont',
 'Oregon',
 'Iowa',
 'Kansas',
 'New Mexico',
 'Montana',
 'Illinois',
 'Kentucky',
 'Michigan',
 'Rhode Island',
 'Oregon',
 'Mississippi',
 'Maryland',
 'Kentucky',
 'Idaho',
 'Georgia',
 'New Hampshire',
 'Missouri',
 'Missouri',
 'Michigan',
 'Iowa',
 'Texas',
 'California',
 'Idaho',
 'Georgia',
 'Iowa',
 'Missouri',
 'Iowa',
 'Iowa',
 'Kentucky',
 'Washington',
 'Georgia',
 'Vermont',
 'Oklahoma',
 'Oregon',
 'Arkansas',
 'South Dakota',
 'Oklahoma',
 'Virginia',
 'West Virginia',
 'Texas',
 'California',
 'New York',
 'Kansas',
 'Texas',
 'Alabama',
 'Mississippi',
 'Texas',
 'Georgia',
 'Minnesota',
 'Mississippi',
 'Minnesota',
 'Kentucky',
 'South Dakota',
 'Colorado',
 'West Virginia',
 'Arkansas',
 'Iowa',
 'North Carolina',
 'Mississippi',
 'Indiana',
 'Oregon',
 'Oregon',
 'Montana',
 'Hawaii',
 'Texas',
 'Tennessee',
 'Illinois',
 'South Dakota',
 'New Mexico',
 'Washington',
 'Colorado',
 'Washington',
 'Florida',
 'Kansas',
 'North Carolina',
 'Minnesota',
 'Alabama',
 'Georgia',
 'Nebraska',
 'Virginia',
 'Massachusetts',
 'Florida',
 'Georgia',
 'North Carolina',
 'North Carolina',
 'Virginia',
 'North Carolina',
 'Indiana',
 'Iowa',
 'New Mexico',
 'Texas',
 'North Dakota',
 'Florida',
 'South Dakota',
 'Kentucky',
 'Nebraska',
 'Texas',
 'Texas',
 'North Carolina',
 'Missouri',
 'Georgia',
 'Oklahoma',
 'Ohio',
 'New York',
 'Maine',
 'Texas',
 'South Carolina',
 'Iowa',
 'Minnesota',
 'Texas',
 'Pennsylvania',
 'Georgia',
 'Missouri',
 'Iowa',
 'Georgia',
 'Kentucky',
 'Tennessee',
 'Minnesota',
 'Maine',
 'Oregon',
 'Oklahoma',
 'Kentucky',
 'Missouri',
 'Mississippi',
 'Kentucky',
 'Pennsylvania',
 'Michigan',
 'North Dakota',
 'North Carolina',
 'West Virginia',
 'Virginia',
 'California',
 'Michigan',
 'Indiana',
 'Virginia',
 'Idaho',
 'Washington',
 'Michigan',
 'Texas',
 'Georgia',
 'Virginia',
 'Montana',
 'Georgia',
 'Nebraska',
 'Indiana',
 'Missouri',
 'Michigan',
 'Michigan',
 'Alabama',
 'Illinois',
 'Alabama',
 'Kansas',
 'Missouri',
 'Mississippi',
 'Texas',
 'Florida',
 'Alabama',
 'South Carolina',
 'Kentucky',
 'New York',
 'New Mexico',
 'Kentucky',
 'Texas',
 'Georgia',
 'North Dakota',
 'North Carolina',
 'South Dakota',
 'Pennsylvania',
 'Nebraska',
 'Iowa',
 'South Dakota',
 'Nebraska',
 'Kansas',
 'Indiana',
 'Indiana',
 'Texas',
 'Georgia',
 'Florida',
 'California',
 'Virginia',
 'Virginia',
 'Texas',
 'Tennessee',
 'Pennsylvania',
 'Nevada',
 'Texas',
 'Tennessee',
 'Utah',
 'Ohio',
 'Mississippi',
 'Arizona',
 'Nebraska',
 'Missouri',
 'Alabama',
 'Texas',
 'Georgia',
 'Nebraska',
 'Texas',
 'Oklahoma',
 'Alabama',
 'Ohio',
 'New Mexico',
 'Maine',
 'Nebraska',
 'Missouri',
 'Illinois',
 'Arkansas',
 'Ohio',
 'Virginia',
 'Texas',
 'Texas',
 'Oregon',
 'Kentucky',
 'Idaho',
 'North Carolina',
 'Texas',
 'Texas',
 'South Dakota',
 'Georgia',
 'Montana',
 'Utah',
 'South Carolina',
 'Massachusetts',
 'Oregon',
 'Michigan',
 'Oklahoma',
 'Indiana',
 'New Jersey',
 'Kansas',
 'California',
 'Arkansas',
 'South Dakota',
 'New Mexico',
 'Texas',
 'Iowa',
 'Illinois',
 'Virginia',
 'Utah',
 'New Mexico',
 'North Carolina',
 'Idaho',
 'Kentucky',
 'North Dakota',
 'West Virginia',
 'Texas',
 'Nebraska',
 'Nevada',
 'Missouri',
 'New York',
 'Georgia',
 'Oklahoma',
 'Texas',
 'Georgia',
 'South Carolina',
 'Kentucky',
 'Kentucky',
 'Mississippi',
 'Texas',
 'Mississippi',
 'Ohio',
 'California',
 'Florida',
 'Texas',
 'Tennessee',
 'Kansas',
 'California',
 'North Dakota',
 'Kentucky',
 'North Dakota',
 'New York',
 'South Dakota',
 'South Dakota',
 'North Carolina',
 'Minnesota',
 'Texas',
 'Virginia',
 'Oklahoma',
 'Illinois',
 'New York',
 'Georgia',
 'North Dakota',
 'Michigan',
 'Indiana',
 'Kansas',
 'Georgia',
 'Texas',
 'Missouri',
 'Missouri',
 'Kentucky',
 'Vermont',
 'Mississippi',
 'Georgia',
 'Arkansas',
 'Alabama',
 'Idaho',
 'Illinois',
 'Alabama',
 'West Virginia',
 'Oregon',
 'Illinois',
 'Colorado',
 'Pennsylvania',
 'Georgia',
 'Georgia',
 'Texas',
 'New York',
 'Illinois',
 'Georgia',
 'South Dakota',
 'Illinois',
 'New Mexico',
 'Arkansas',
 'Arizona',
 'Ohio',
 'South Carolina',
 'Iowa',
 'Texas',
 'Kansas',
 'Iowa',
 'Oklahoma',
 'Michigan',
 'Ohio',
 'Oklahoma',
 'Kentucky',
 'Montana',
 'Florida',
 'Texas',
 'Utah',
 'North Dakota',
 'Nebraska',
 'South Dakota',
 'Kentucky',
 'New York',
 'Alabama',
 'Virginia',
 'South Carolina',
 'Iowa',
 'Arkansas',
 'Iowa',
 'California',
 'Virginia',
 'Indiana',
 'Michigan',
 'Mississippi',
 'Virginia',
 'Kansas',
 'Tennessee',
 'Montana',
 'Washington',
 'Wisconsin',
 'Michigan',
 'Ohio',
 'Oregon',
 'Ohio',
 'Ohio',
 'Montana',
 'Ohio',
 'Minnesota',
 'West Virginia',
 'Colorado',
 'Michigan',
 'Michigan',
 'North Carolina',
 'California',
 'California',
 'Missouri',
 'Tennessee',
 'Texas',
 'New York',
 'Texas',
 'Iowa',
 'Mississippi',
 'Arkansas',
 'South Dakota',
 'Idaho',
 'Oregon',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Tennessee',
 'New York',
 'Vermont',
 'Ohio',
 'West Virginia',
 'Indiana',
 'California',
 'Nebraska',
 'Montana',
 'Indiana',
 'Tennessee',
 'Oklahoma',
 'Nebraska',
 'Texas',
 'Illinois',
 'Georgia',
 'Wisconsin',
 'Ohio',
 'Tennessee',
 'North Dakota',
 'Kansas',
 'Illinois',
 'Oklahoma',
 'North Carolina',
 'Indiana',
 'Texas',
 'Georgia',
 'Virginia',
 'Indiana',
 'Tennessee',
 'Kansas',
 'Vermont',
 'Indiana',
 'Ohio',
 'Idaho',
 'North Carolina',
 'Illinois',
 'North Carolina',
 'California',
 'Florida',
 'Pennsylvania',
 'Kansas',
 'Georgia',
 'Missouri',
 'New Mexico',
 'Kansas',
 'Florida',
 'Ohio',
 'North Carolina',
 'Georgia',
 'Missouri',
 'Minnesota',
 'Illinois',
 'Iowa',
 'Nebraska',
 'Arkansas',
 'Washington',
 'Mississippi',
 'New Jersey',
 'Iowa',
 'Alabama',
 'South Carolina',
 'Tennessee',
 'South Carolina',
 'South Dakota',
 'Georgia',
 'Texas',
 'Virginia',
 'South Dakota',
 'Hawaii',
 'Missouri',
 'Virginia',
 'Michigan',
 'Kentucky',
 'Kentucky',
 'North Carolina',
 'West Virginia',
 'Mississippi',
 'Michigan',
 'Kansas',
 'Indiana',
 'Virginia',
 'South Carolina',
 'Indiana',
 'Vermont',
 'New York',
 'Texas',
 'Minnesota',
 'Arkansas',
 'Oregon',
 'New York',
 'Nevada',
 'Michigan',
 'South Carolina',
 'Virginia',
 'Texas',
 'Michigan',
 'Kansas',
 'Iowa',
 'Ohio',
 'Texas',
 'Tennessee',
 'Idaho',
 'Texas',
 'Iowa',
 'Kentucky',
 'Iowa',
 'Texas',
 'Idaho',
 'South Carolina',
 'Mississippi',
 'Maryland',
 'Kentucky',
 'Minnesota',
 'South Dakota',
 'Pennsylvania',
 'New Mexico',
 'New Jersey',
 'Kentucky',
 'Indiana',
 'Iowa',
 'Tennessee',
 'Idaho',
 'Minnesota',
 'Kentucky',
 'Georgia',
 'North Carolina',
 'Tennessee',
 'Texas',
 'Iowa',
 'California',
 'Missouri',
 'Iowa',
 'Georgia',
 'Oklahoma',
 'Florida',
 'Missouri',
 'Missouri',
 'Virginia',
 'Texas',
 'Pennsylvania',
 'Ohio',
 'Georgia',
 'North Dakota',
 'Iowa',
 'Ohio',
 'Ohio',
 'Illinois',
 'Tennessee',
 'Ohio',
 'California',
 'New York',
 'Florida',
 'Virginia',
 'Nebraska',
 'Mississippi',
 'Iowa',
 'Indiana',
 'South Dakota',
 'Oklahoma',
 'North Carolina',
 'Massachusetts',
 'Texas',
 'Minnesota',
 'Iowa',
 'Kansas',
 'South Dakota',
 'Texas',
 'South Dakota',
 'New York',
 'Texas',
 'Iowa',
 'Nebraska',
 'Florida',
 'California',
 'Florida',
 'Arkansas',
 'North Dakota',
 'Nebraska',
 'Nevada',
 'Iowa',
 'Ohio',
 'Oregon',
 'South Carolina',
 'Tennessee',
 'Missouri',
 'Illinois',
 'Pennsylvania',
 'Texas',
 'Illinois',
 'Texas',
 'Indiana',
 'Texas',
 'Nebraska',
 'Nebraska',
 'California',
 'Illinois',
 'Nebraska',
 'Washington',
 'North Dakota',
 'Georgia',
 'Arkansas',
 'Iowa',
 'Georgia',
 'Kansas',
 'Colorado',
 'Illinois',
 'New Jersey',
 'Arkansas',
 'Missouri',
 'Kentucky',
 'Iowa',
 'Kansas',
 'California',
 'North Carolina',
 'Texas',
 'Tennessee',
 'Virginia',
 'Florida',
 'Illinois',
 'Indiana',
 'Mississippi',
 'Washington',
 'Minnesota',
 'Mississippi',
 'Oklahoma',
 'Virginia',
 'Georgia',
 'California',
 'South Dakota',
 'South Carolina',
 'West Virginia',
 'Texas',
 'Montana',
 'Florida',
 'Missouri',
 'Iowa',
 'Virginia',
 'North Carolina',
 'Utah',
 'Oklahoma',
 'Kentucky',
 'Kentucky',
 'Florida',
 'Tennessee',
 'Ohio',
 'New Mexico',
 'Minnesota',
 'Michigan',
 'Alabama',
 'Alabama',
 'California',
 'Oklahoma',
 'Maryland',
 'Texas',
 'Washington',
 'Missouri',
 'Mississippi',
 'Georgia',
 'Pennsylvania',
 'California',
 'Pennsylvania',
 'Washington',
 'South Carolina',
 'Kansas',
 'Georgia',
 'Kentucky',
 'Kentucky',
 'Texas',
 'Iowa',
 'Montana',
 'Florida',
 'Texas',
 'Oklahoma',
 'Pennsylvania',
 'Michigan',
 'Idaho',
 'Kansas',
 'Georgia',
 'Oklahoma',
 'Illinois',
 'New York',
 'North Carolina',
 'West Virginia',
 'Arkansas',
 'Georgia',
 'North Carolina',
 'Kansas',
 'Idaho',
 'Alabama',
 'North Dakota',
 'Indiana',
 'Virginia',
 'Texas',
 'Arkansas',
 'North Carolina',
 'Arizona',
 'Texas',
 'Georgia',
 'Pennsylvania',
 'Nebraska',
 'Minnesota',
 'West Virginia',
 'Georgia',
 'North Dakota',
 'New Mexico',
 'Kentucky',
 'Oklahoma',
 'Oklahoma',
 'Nebraska',
 'Georgia',
 'North Carolina',
 'Michigan',
 'Indiana',
 'Missouri',
 'Virginia',
 'North Carolina',
 'Ohio',
 'Virginia',
 'Idaho',
 'Tennessee',
 'Alabama',
 'California',
 'Texas',
 'New York',
 'Iowa',
 'South Dakota',
 'Pennsylvania',
 'Montana',
 'Michigan',
 'Arkansas',
 'Texas',
 'Arizona',
 'Virginia',
 'Kentucky',
 'North Carolina',
 'Kentucky',
 'Idaho',
 'West Virginia',
 'Minnesota',
 'Georgia',
 'Minnesota',
 'Texas',
 'Arkansas',
 'Montana',
 'Missouri',
 'Colorado',
 'Michigan',
 'Georgia',
 'New York',
 'Arkansas',
 'North Carolina',
 'Kentucky',
 'Ohio',
 'Indiana',
 'Texas',
 'Texas',
 'Oklahoma',
 'Iowa',
 'Nebraska',
 'Texas',
 'Kentucky',
 'Alabama',
 'Texas',
 'Kentucky',
 'Texas',
 'Kansas',
 'Colorado',
 'Illinois',
 'Kentucky',
 'Florida',
 'Indiana',
 'Virginia',
 'Oregon',
 'Pennsylvania',
 'Iowa',
 'Alabama',
 'Missouri',
 'Iowa',
 'Georgia',
 'Virginia',
 'New York',
 'Missouri',
 'Washington',
 'Montana',
 'Kansas',
 'Georgia',
 'Texas',
 'Indiana',
 'Florida',
 'Iowa',
 'Illinois',
 'North Dakota',
 'North Dakota',
 'Georgia',
 'Alabama',
 'Texas',
 'Texas',
 'Missouri',
 'Florida',
 'Wisconsin',
 'Michigan',
 'South Carolina',
 'Montana',
 'Kentucky',
 'Virginia',
 'North Carolina',
 'Mississippi',
 'Michigan',
 'North Carolina',
 'North Carolina',
 'Nebraska',
 'North Carolina',
 'Vermont',
 'West Virginia',
 'Kentucky',
 'Florida',
 'Vermont',
 'Mississippi',
 'Montana',
 'Kentucky',
 'Pennsylvania',
 'New York',
 'Montana',
 'Kansas',
 'Arkansas',
 'New Mexico',
 'Tennessee',
 'Ohio',
 'Illinois',
 'Connecticut',
 'New York',
 'Oklahoma',
 'Iowa',
 'Michigan',
 'Pennsylvania',
 'Arkansas',
 'North Carolina',
 'Michigan',
 'Texas',
 'Michigan',
 'Michigan',
 'Nebraska',
 'Iowa',
 'West Virginia',
 'Colorado',
 'Montana',
 'Texas',
 'Texas',
 'Colorado',
 'New York',
 'New Mexico',
 'Texas',
 'Washington',
 'North Carolina',
 'Texas',
 'Kentucky',
 'South Dakota',
 'Indiana',
 'Colorado',
 'Texas',
 'Indiana',
 'Iowa',
 'Iowa',
 'Nebraska',
 'Colorado',
 'Oklahoma',
 'Illinois',
 'Utah',
 'Maryland',
 'Texas',
 'Tennessee',
 'Kansas',
 'Texas',
 'Kansas',
 'New York',
 'Ohio',
 'Missouri',
 'Iowa',
 'Oklahoma',
 'Missouri',
 'Georgia',
 'Arizona',
 'Washington',
 'Pennsylvania',
 'Illinois',
 'Arkansas',
 'Georgia',
 'Minnesota',
 'Iowa',
 'Missouri',
 'Iowa',
 'Nebraska',
 'Indiana',
 'Illinois',
 'Nebraska',
 'Kentucky',
 'Ohio',
 'Texas',
 'South Carolina',
 'Oregon',
 'Alabama',
 'Ohio',
 'Indiana',
 'Minnesota',
 'Minnesota',
 'Arizona',
 'Texas',
 'South Carolina',
 'Kansas',
 'Arizona',
 'Iowa',
 'South Dakota',
 'Minnesota',
 'Tennessee',
 'Nebraska',
 'Arkansas',
 'New York',
 'New Jersey',
 'Minnesota',
 'Illinois',
 'Arizona',
 'Kentucky',
 'Missouri',
 'Kansas',
 'Kansas',
 'Virginia',
 'Ohio',
 'Montana',
 'Virginia',
 'New Jersey',
 'Colorado',
 'Mississippi',
 'Florida',
 'Arizona',
 'Missouri',
 'Illinois',
 'Virginia',
 'Texas',
 'Illinois',
 'New York',
 'Idaho',
 'Alabama',
 'Texas',
 'Texas',
 'Pennsylvania',
 'California',
 'Arkansas',
 'Arizona',
 'Iowa',
 'Indiana',
 'Oregon',
 'Oregon',
 'West Virginia',
 'Alabama',
 'Texas',
 'North Dakota',
 ...]

In [10]:
# query from view 'county_state' and fips_code_data to analyze different factors on state level where clause for bubble chart

df2 = pd.read_sql("""SELECT f.state, f.county, ROUND(AVG(v.per_capita_income),2) AS avg_per_capita_income,
ROUND(AVG(v.median_age),2) AS avg_median_age, 
ROUND(AVG(v.population),2) AS avg_population, ROUND(AVG(v.poverty_count),2) AS avg_poverty_count, 
ROUND(AVG(v.unemployment_rate),2) AS avg_unemployment_rate, 
ROUND(AVG(v.bachelors_or_higher_2019),2) AS avg_bachelors_or_higher_2019
FROM fips_code_data AS f
JOIN census_education AS v
ON (f.fips_code = v.fips_code)
WHERE f.state = 'Alabama' 
GROUP BY f.state,f.county
ORDER BY f.state, f.county;""",conn)

df2.head()

,state,county,avg_per_capita_income,avg_median_age,avg_population,avg_poverty_count,avg_unemployment_rate,avg_bachelors_or_higher_2019
0,Alabama,Autauga,29819.0,38.2,55380.0,8340.0,1.69,9929.0
1,Alabama,Baldwin,32626.0,43.0,212830.0,21704.0,1.99,48148.0
2,Alabama,Barbour,18473.0,40.4,25361.0,6875.0,3.35,2080.0
3,Alabama,Bibb,20778.0,40.9,22493.0,3740.0,2.93,1678.0
4,Alabama,Blount,24747.0,40.7,57681.0,7739.0,1.32,5210.0

In [11]:
#  query from view 'county_state' and fips_code_data to analyze unemployment on state level by state for bubble chart
df3 = pd.read_sql("""SELECT f.state, ROUND(AVG(v.unemployment_rate),4) AS avg_unemployment_rate, 
ROUND(AVG(v.bachelors_or_higher_2019),2) AS avg_bachelors_or_higher_2019
FROM fips_code_data AS f
JOIN census_education AS v
ON (f.fips_code = v.fips_code)
GROUP BY f.state
ORDER BY f.state;""",conn)

df3.head()

        state  avg_unemployment_rate  avg_bachelors_or_higher_2019
0     Alabama                 2.8414                      12623.46
1     Arizona                 3.1075                      92968.40
2    Arkansas                 2.5065                       6176.48
3  California                 3.0195                     154840.10
4    Colorado                 2.2638                      24455.22

In [12]:
# selection for analyzing education of all degrees categories for bar chart
df4 = pd.read_sql("""SELECT f.state, ROUND(SUM(e.below_hs_diploma_2019),2) AS below_hs_diploma_2019,
ROUND(SUM(e.hs_diploma_2019),2) AS hs_diploma_2019,
ROUND(SUM(e.college_or_associate_2019),2) AS college_or_associate_2019,
ROUND(SUM(e.bachelors_or_higher_2019),2) AS bachelors_or_higher_2019
FROM education_data as e
JOIN fips_code_data as f
ON (e.fips_code = f.fips_code)
GROUP BY f.state
ORDER BY f.state;
""",conn)

df4.head()

,state,below_hs_diploma_2019,hs_diploma_2019,college_or_associate_2019,bachelors_or_higher_2019
0,Alabama,458922.0,1022839.0,993344.0,845772.0
1,Arizona,608637.0,1129129.0,1600240.0,1394526.0
2,Arkansas,270168.0,684659.0,593576.0,463236.0
3,California,4418675.0,5423462.0,7648680.0,8980726.0
4,Colorado,315751.0,817452.0,1127242.0,1565134.0