In [1]:
# Dependencies and Setup

import pandas as pd
import numpy as np

In [2]:
# Importing data files

census_data_df = pd.read_csv("Resources/census_us_county_output.csv")
education_data_df = pd.read_csv("Resources/ers_usda_education.csv")

In [3]:
census_data_df

,County,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,51,"Fayette County, Illinois",21565.0,41.9,46650.0,23194.0,3421.0,15.863668,2.434500
1,107,"Logan County, Illinois",29003.0,40.1,57308.0,27546.0,2323.0,8.009516,2.544564
2,165,"Saline County, Illinois",23994.0,42.2,44090.0,25342.0,4936.0,20.571810,3.400850
3,97,"Lake County, Illinois",701473.0,38.4,89427.0,45766.0,54273.0,7.737005,2.759479
4,127,"Massac County, Illinois",14219.0,43.5,47481.0,23539.0,2331.0,16.393558,1.821506
...,...,...,...,...,...,...,...,...,...
3215,33,"Crockett County, Tennessee",14399.0,40.7,44717.0,23771.0,2524.0,17.528995,2.187652
3216,95,"Lake County, Tennessee",7401.0,41.5,35191.0,15732.0,1315.0,17.767869,2.351034
3217,93,"Knox County, Tennessee",461104.0,37.4,57470.0,33229.0,65448.0,14.193761,2.240492
3218,5,"Benton County, Washington",197518.0,35.8,69023.0,32882.0,23336.0,11.814619,2.305106
3219,11,"Clark County, Washington",473252.0,38.4,75253.0,35860.0,43384.0,9.167209,2.430840

In [4]:
education_data_df

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,"1,062,306","468,269","136,287",...,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6